@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 218 44% 95%;
    --foreground: 215 40% 6%;
    --card: 218 44% 95%;
    --card-foreground: 215 40% 6%;
    --popover: 218 44% 95%;
    --popover-foreground: 215 40% 6%;
    --primary: 215 48% 26%;
    --primary-foreground: 218 44% 95%;
    --secondary: 214 52% 67%;
    --secondary-foreground: 215 40% 6%;
    --muted: 218 43% 20%;
    --muted-foreground: 215 40% 70%;
    --accent: 214 56% 41%;
    --accent-foreground: 218 44% 95%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 215 40% 6%;
    --border: 218 43% 20%;
    --input: 218 43% 20%;
    --ring: 214 56% 40%;
    --radius: 0.5rem;
  }

  :root {
    --background: 218 44% 5%;
    --foreground: 215 40% 94%;
    --card: 218 44% 5%;
    --card-foreground: 215 40% 94%;
    --popover: 218 44% 5%;
    --popover-foreground: 215 40% 94%;
    --primary: 215 48% 74%;
    --primary-foreground: 218 44% 5%;
    --secondary: 214 52% 33%;
    --secondary-foreground: 215 40% 94%;
    --muted: 218 43% 80%;
    --muted-foreground: 215 40% 94%;
    --accent: 214 56% 59%;
    --accent-foreground: 218 44% 5%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 214 41% 10%;
    --border: 218 44% 60%;
    --input: 218 43% 80%;
    --ring: 214 56% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
