@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 218 53% 94%;
    --foreground: 208 52% 5%;
    --card: 218 53% 94%;
    --card-foreground: 208 52% 5%;
    --popover: 218 53% 94%;
    --popover-foreground: 208 52% 5%;
    --primary: 213 51% 29%;
    --primary-foreground: 218 53% 94%;
    --secondary: 241 51% 67%;
    --secondary-foreground: 208 52% 5%;
    --muted: 218 53% 20%;
    --muted-foreground: 208 52% 70%;
    --accent: 248 51% 40%;
    --accent-foreground: 218 53% 94%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 208 52% 5%;
    --border: 218 53% 20%;
    --input: 218 53% 20%;
    --ring: 248 51% 40%;
    --radius: 0.5rem;
  }

  :root {
    --background: 218 53% 6%;
    --foreground: 210 50% 95%;
    --card: 218 53% 6%;
    --card-foreground: 210 50% 95%;
    --popover: 218 53% 6%;
    --popover-foreground: 210 50% 95%;
    --primary: 213 51% 71%;
    --primary-foreground: 218 53% 6%;
    --secondary: 241 51% 33%;
    --secondary-foreground: 210 50% 95%;
    --muted: 218 53% 80%;
    --muted-foreground: 210 50% 95%;
    --accent: 248 51% 60%;
    --accent-foreground: 218 53% 6%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 211 49% 10%;
    --border: 218 53% 60%;
    --input: 218 53% 80%;
    --ring: 248 51% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
